{{ define "flight_deals.tmpl" }}
<html>
    <head>
        <title>Flight Deals</title>
    </head>
    <body>
        <h1>Flight Deals:</h1>
        <ul>
            {{ range .Messages }}
            <li>
                <p>Text: {{ .Text }}</p>
            </li>
            {{ end }}
        </ul>
    </body>
</html>
{{ end }}